{% include 'Header.html' %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h1>Progress Overview for {{student.first_name}} {{student.last_name}}</h1>
            <h2>Major</h2>
            {% if student.major == "Undeclared" and student.major2 == "Undeclared" %}
            <h4>You have not declared a major yet</h4>
            {% endif %}
            {% if student.major != "Undeclared" %}
            <h3>{{ student.major }}</h3>
            <div class="rectangle" style="position: relative;">
                <div class="progress" style="position: absolute; top: 0; left: 0; width: {{ major_percentage }}%; height: 100%; background-color: #B29D6C;">{{ major_percentage }}%</div>
            </div>
            {% endif %}
            {% if student.major2 != "Undeclared" %}
            <h3>{{ student.major2 }}</h3>
            <div class="rectangle" style="position: relative;">
                <div class="progress" style="position: absolute; top: 0; left: 0; width: {{ major2_percentage }}%; height: 100%; background-color: #B29D6C;">{{ major2_percentage }}%</div>
            </div>
            {% endif %}

            <h2>University Core</h2>
            <div class="rectangle" style="position: relative;">
                <div class="progress" style="position: absolute; top: 0; left: 0; width: {{ univ_percentage }}%; height: 100%; background-color: #B29D6C;">{{ univ_percentage }}%</div>
            </div>
            <h2>Total Credits</h2>
            <div class="rectangle" style="position: relative;">
                <div class="progress" style="position: absolute; top: 0; left: 0; width: {{ credits_percentage }}%; height: 100%; background-color: #B29D6C;">{{ credits_percentage }}%</div>
            </div>
            <div style="position: absolute; bottom: 0; left: 0;">
                <p>The percentage shown is based on completed courses.</p>
            </div>
        </div>
        <div class="right-side">
            <div class="button-container">
                <form method="post" id="primary-plan-form" action="{% url 'Plan:set_primary_plan' %}">
                    {% csrf_token %}
                    {% for plan in plans %}
                    <a href="{% url 'Plan:futureplan' plan.id forloop.counter%}" class="button">
                        <div class="checkbox-label">
                            <label for="plan_{{ plan.id }}">Plan {{ forloop.counter }}</label><br>
                            <input type="checkbox" id="plan_{{ plan.id }}" name="checkbox" value="{{ plan.id }}" {% if plan.is_primary %}checked{% endif %} onchange="submitForm(this)">
                            <span style="font-size: 15;">Primary Plan</span>
                        </div>
                    </a>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>
<script>
function submitForm(checkbox) {
    // Check if any checkbox is currently checked as primary
    var anyPrimaryChecked = false;
    var checkboxes = document.getElementsByName("checkbox");
    checkboxes.forEach(function(cb) {
        if (cb.checked && cb !== checkbox) {
            anyPrimaryChecked = true;
        }
    });

    // If no primary plan is currently checked, prevent deselection of the currently checked checkbox
    if (!anyPrimaryChecked && !checkbox.checked) {
        checkbox.checked = true;
        return;
    }

    // Uncheck all checkboxes except the one that was just checked
    checkboxes.forEach(function(cb) {
        if (cb !== checkbox) {
            cb.checked = false;
        }
    });

    // Submit the form
    document.getElementById("primary-plan-form").submit();
}



</script>

