.header {
    background-color: #931C22;
    overflow: hidden;
    left: 0;
    top: 0;
    padding: 20px;
}

.header_container {
    display: flex;
    gap: 10px;
}

.header_text {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.header_img {
    width: 35px;
}


body {
    background-color: #ffffff;
}