.header {
    background-color: #931C22;
    overflow: hidden;
    left: 0;
    top: 0;
    padding: 20px;
}

.header_text {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}


body {
    background-color: #ffffff;
}