body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #070000;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
}

/* .rectangle {
    border: 1px solid black;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
} */

.button {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    width: 150px;
    height: 300px;
    margin: 20px;
    background-color: #719cca;
    color: white;
    border-radius: 5px;
    font-size: 30px;
}

.right-side {
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#primary-plan-form {
    display: flex;
    flex-wrap: wrap;
}
#primary-plan-form a {
    margin-right: 10px;
}

.checkbox-label input[type="checkbox"],
.checkbox-label label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-label label span {
    font-size: smaller;
}

.rectangle {
    position: relative;
    width: 500px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    border: 1px solid black; /* Add border style */
    margin: 10px 0; /* Adjust margin as needed */
    padding: 0; /* Remove padding */
    box-sizing: border-box; /* Include border in the height and width */
    background-color: E1F2FF;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B29D6C; /* Color of the progress bar */
}

.progress-bar {
    position: relative;
    overflow: hidden; /* Ensure the percentage label doesn't overflow outside the progress bar */
}

.percentage-label {
    position: absolute;
    top: 0;
    left: 100%; /* Position the label to the right side of the colored bar */
    transform: translateX(10px); /* Add some space between the bar and the label */
    height: 100%;
    line-height: 40px; /* Align the text vertically in the middle */
    color: white;
    font-weight: bold;
    text-align: right; /* Align the text to the right within the label */
}



