body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #070000;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.rectangle {
    border: 1px solid black;
    width: 300px;
    height: 20px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

.button {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    width: 150px;
    height: 300px;
    margin: 20px;
    background-color: #719cca;
    color: white;
    border-radius: 5px;
    font-size: 30px;
}

.right-side {
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#primary-plan-form {
    display: flex;
    flex-wrap: wrap;
}
#primary-plan-form a {
    margin-right: 10px;
}

.checkbox-label input[type="checkbox"],
.checkbox-label label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-label label span {
    font-size: smaller;
}

