body {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}

select:focus {
    border: 2px solid #931C22;
}

/* CSS for submit button */
button[type="submit"] {
    background-color: #719cca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button[type="submit"]:hover {
    background-color: #2979ce;
}