<!-- course_list_view.html -->
{% include 'Header.html' %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static '/course_list.css' %}">
</head>
<body>
    <div class="body_container">
        <div class="search-container">
            <form method="get" action="{% url 'Plan:course_list' plan_id=plan_id plan_num=plan_num %}">
                <input type="text" name="course_code" placeholder="Enter course code, e.g., CSCI">
                <button type="submit">Search</button>
                <a href="{% url 'Plan:futureplan' plan_id=plan_id plan_num=plan_num %}" class="courses-button" style="padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px; display: inline-block; margin: 5px;">Return to Plan {{ plan_num }}</a>
                {% if message %}
                <p style="color: {{ color }};">{{ message }}</p>
                {% endif %}
            </form>
        </div>
    

        <div class="course-list">
            {% for course in courses %}
                <div class="course">
                    <h2>{{ course.title }}</h2>
                    <p><strong>Code:</strong> {{ course.course_code }}</p>
                    <p><strong>Credits:</strong> {{ course.credits }}</p>
                    <p>{{ course.description }}</p>
                
                    <form method="post" action="{% url 'Plan:course_list' plan_id=plan_id plan_num=plan_num %}">
                        {% csrf_token %}
                        <input type="hidden" name="code" value="{{ course.course_code }}">
                        <input type="hidden" name="selected_plan" value="{{ plan_id }}">
                        {{ form.selected_semester }}
                        <button type="add" class="add_button">Add to Plan</button>
                    </form>
                </div>
            {% empty %}
                {% if not message %}
                <p>No courses found for '{{ course_code }}'.</p>
                {% endif %}
            {% endfor %}
            
        </div>

        <!-- links to move between pages-->
        <div class="pagination">
            <span class="step-links">
                {% if courses.has_previous %}
                    <a href="?course_code={{ course_code }}&page=1">&laquo; first</a>
                    <a href="?course_code={{ course_code }}&page={{ courses.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
                </span>

                {% if courses.has_next %}
                    <a href="?course_code={{ course_code }}&page={{ courses.next_page_number }}">next</a>
                    <a href="?course_code={{ course_code }}&page={{ courses.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>