{% extends 'Header.html' %}
{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="course-details-container">
        {% if course %}
            <h1>Course Details</h1>
            <div class="course-detail">
                <h2>{{ course.name }}</h2>
                <p><strong>Course Code:</strong> {{ course.course_code }}</p>
                <p><strong>Title:</strong> {{ course.title }}</p>
                <p><strong>Description:</strong> {{ course.description }}</p>
                <!-- Add more fields as needed -->
                 <!-- Filler Button -->
                <button class="add_button">Add to Plan</button>
            </div>
        {% else %}
            <p>No course details found.</p>
        {% endif %}
    </div>
</html>
{% endblock %}
