{% extends 'Header.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<link rel="stylesheet" href="{% static 'futureplan.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>4-year Plan - Plan {{plan_num}} </h1>
    <h2> Total Credits: {{total_credits}} / 120 </h2>
    <div class="container">
        {% for semester_num, courses in courses_by_semester %}
            <div class="box">
                <div class="semester-name"><b><div class="semester-name"><b>
                {% if semester_num == 's1' %}
                    Freshman Fall
                {% elif semester_num == 's2' %}
                    Freshman Spring
                {% elif semester_num == 's3' %}
                    Sophomore Fall
                {% elif semester_num == 's4' %}
                    Sophomore Spring
                {% elif semester_num == 's5' %}
                    Junior Fall
                {% elif semester_num == 's6' %}
                    Junior Spring
                {% elif semester_num == 's7' %}
                    Senior Fall
                {% elif semester_num == 's8' %}
                    Senior Spring
                {% endif %}
            </b></div></b></div>
                {% if courses %}
                    {% for course in courses %}
                        <div class="course-rectangle">{{ course }}</div>
                    {% endfor %}
                {% else %}
                    <p>No courses planned for this semester</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'Plan:course_list' plan_id=plan_id plan_num=plan_num %}" class="courses-button" >Add/Edit Courses</a>
    <a href="{% url 'Plan:reqs_list' %}" class="requirements-button">View Requirements</a>

</body>
</html>
{% endblock %}
