{% load static %}

<link rel="stylesheet" href="{% static '/header.css' %}">
<body>
    <div class = "header">
        <div class = "header_container"> 
            <img class = "header_img" src="{% static '/images/eagleapps-logo-header.svg'%}"/>
            <div class = "header_text">Eagle Plan</div>
        
        </div>
        <div class = "header_container">
            <div class = "profile_text"><a href="{% url 'Plan:profile' %}" class="link-white">Profile</a></div>
        </div>
        
    </div>
    <div className = "body">

    </div>
    {% block content %} 
    {% endblock %}
</body>