{% extends 'Header.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Landing.css' %}">
<div class="container">
    <div class="left-side">
        <h1>Progress Overview</h1>
        <h2>Major</h2>
        <div class="rectangle">Computer Science</div>
        <div class="rectangle">Neuroscience</div>
        <h3>Minors</h3>
        <div class="rectangle">Finance</div>
        <h3>University Core</h3>
        <div class="rectangle">0%</div>
        <h3>Total Credits</h3>
        <div class="rectangle">0%</div>
    </div>
    <div class="right-side">
        <div class="button-container">
            <a href="{% url 'Plan:futureplan' %}" class="button">Plan 1</a>
            <a href="{% url 'Plan:futureplan' %}" class="button">Plan 2</a>
            <a href="{% url 'Plan:futureplan' %}" class="button">Plan 3</a>
        </div>
    </div>
</div>
{% endblock %}
