{% include 'Header.html' %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h1>Progress Overview for {{student.first_name}} {{student.last_name}}</h1>
            <h2>Major</h2>
            <div class="rectangle">{{student.major}}</div>
            {% if student.major2 != "None" %}
            <div class="rectangle">{{student.major2}}</div>
            {% endif %}
            {% if student.minor != "None" or student.minor2 != "None"%}
            <h3>Minors</h3>
            {% endif %}
            {% if student.minor != "None" %}
            <div class="rectangle">{{student.minor}}</div>
            {% endif %}
            {% if student.minor2 != "None" %}
            <div class="rectangle">{{student.minor2}}</div>
            {% endif %}
            <h3>University Core</h3>
            <div class="rectangle">0%</div>
            <h3>Total Credits</h3>
            <div class="rectangle">0%</div>
        </div>
        <div class="right-side">
            <div class="button-container">
                {% for plan in plans %}
                <a href="{% url 'Plan:futureplan' plan.id %}" class="button">Plan {{ forloop.counter }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

