{% extends 'Header.html' %}

{% load static %}

<link rel="stylesheet" href="{% static '/Landing.css' %}">

{% block content %}
    <h1>Progress Overview</h1>
    <h1> Welcome back, {{user}}</h1>
    <h1>Major</h1>
    <div style="border: 1px solid black"width: 300px;">Computer Science</div>
    <div style="border: 1px solid black"width: 300px;">Neuroscience</div>
    <h1>Minors</h1>
    <div style="border: 1px solid black"width: 300px;">Finance</div>
    <h1>University Core</h1>
    <div style="border: 1px solid black"width: 300px;">50%</div>
    <h1>Total Credits</h1>
    <div style="border: 1px solid black"width: 300px;">40%</div>
    <a href="{% url 'futureplan' %}">4 Year Plan</a>
{% endblock %}