{% include 'Header.html' %}
{% load widget_tweaks %}
{% load bootstrap5 %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}"> 
</head>
<body>
    <div class="container">
        <h1>Profile Page</h1>
        <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="error-message">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <!-- {{ form.as_p }} -->
            <button type="submit">Save Changes</button>
        </form>
        </div>
    </div>
</body>
</html>
{% endblock %}

